.projectcards{
    border: solid 2px red;
    border-radius: 20px;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.projects{
    border: solid 2px blue;
    border-radius: 10px;
    box-sizing: border-box;
    width: 60%;
    padding: 3%;
    margin: 2% auto;
}